.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list li {
  background-color: rgb(214, 210, 210);
  box-shadow: rgb(219, 91, 91);
  color: #333;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  margin: 2px 0;
  width: 40vw;
}

.income {
  border-right: 2px solid green;
}

.expense {
  border-right: 2px solid red;
}

.del-btn {
  margin: 0 5px;
  background: black;
  color: #fff;
  padding: 5px;
  cursor: pointer;
}

.amt {
  margin-right: 10px;
}

@media screen and (max-width: 960px) {
  .list li {
    flex-direction: column;
  }
  .transaction-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }
  .del-btn {
    margin: 2px;
    background: rgb(14, 12, 12);
    padding: 1px;
    color: #fff;
    cursor: pointer;
    width: 20%;
  }
}
